
body {
  background-image: url("https://i.imgur.com/SCZZOw1.jpg");
  background-size: cover;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  width: 350px;
  margin: 0 auto;
}

.add-button {
  margin-top: 20px;
  color: orange;
}

.input {
  color: orange;
  font-size: 16px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 5px;
  background-color: transparent;
  transition: all 0.25s;
}

.input::placeholder {
  color: orange;
  opacity: 75%;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
  transition: all 0.25s;
}


img {
  border-radius: 50px;
  height: 300px;
  width: 350px;
  object-fit: cover;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: orange;
  margin-bottom: 20px;
}

.button-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.button-show > * {
  margin-bottom: 10px;
}

.button-show a.button {
  display: block;
  margin-bottom: 10px;
  font-size: 24px;
  font-family: sans-serif;
  text-decoration: none;
  color: orange;
  background-color: transparent;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  border-left: none;
  border-right: none;
  padding: 10px;
  letter-spacing: 2px;
  transition: all .25s;
  text-align: center;
  box-sizing: border-box;
  height: 55px;
}

.button-show a.button:hover {
  letter-spacing: 15px;
  color: green;
  background-color: transparent;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 300px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
  padding: 0 20px;
}

.button-container > * {
  margin-bottom: 10px;
  background-color: transparent;
}

a {
  display: block;
  margin-bottom: 10px;
  font-size: 24px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  padding: 10px;
  letter-spacing: 2px;
  transition: all .25s;
}

a:hover,
.bar-item a:hover,
.bar-item a:hover h2 {
  letter-spacing: 10px;
  color: green;
  transition: all .5s;
}

.bar-item {
  text-align: center;
}

.bar-item a {
  display: block;
  margin-bottom: 10px;
  font-size: 24px;
  font-family: sans-serif;
  text-decoration: none;
  color: orange;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  padding: 10px;
  letter-spacing: 2px;
  transition: all .25s;
}

.bar-item a:hover {
  letter-spacing: 10px;
}

.bar-item h2 {
  white-space: nowrap;
}

.button-container a.button,
.button-container button.button {
  display: block;
  margin-bottom: 10px;
  font-size: 24px;
  font-family: sans-serif;
  text-decoration: none;
  color: orange;
  background-color: transparent;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  border-left: none;
  border-right: none;
  padding: 10px;
  letter-spacing: 2px;
  transition: all .25s;
  text-align: center;
  box-sizing: border-box;
  height: 55px;
}

.button-container a.button:hover,
.button-container button.button:hover {
  letter-spacing: 15px;
  color: green;
  background-color: transparent;
}

.button-show form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.button-show form button {
  display: block;
  margin-bottom: 10px;
  font-size: 24px;
  font-family: sans-serif;
  text-decoration: none;
  color: orange;
  background-color: transparent;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  border-left: none;
  border-right: none;
  padding: 10px;
  letter-spacing: 2px;
  transition: all 0.25s;
  text-align: center;
  box-sizing: border-box;
  height: 55px;
}

.button-show form button:hover {
  letter-spacing: 15px;
  color: azure;
  background-color: transparent;
}

.input-population {
  width: 100%;
  color: orange;
  font-size: 16px;
  padding: 10px;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  background-color: transparent;
  transition: all 0.25s;
}

.input-description {
  border: 1px solid whitesmoke;
  color: orange;
}

.population-input {
  width: 100%;
  color: orange;
  font-size: 16px;
  padding: 10px;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  background-color: transparent;
  transition: all 0.25s;
}

.description-input {
  border: 1px solid whitesmoke;
  color: orange;
}